E_1/abaqus.rpy
E_1/force_displacement.csv
draw/Untitled-2025-07-01-1729.excalidraw
*.txt
*.com
*.dat
*.inp
*.ipm
*.log
*.mdl
*.msg
*.odb
*.prt
*.res
*.sim
*.sta
*.stt
*.csv
*.cae
*.jnl
*.exception
*.7
*.rpy
*.rpt
*.1
*.xlsx
*.SMABulk
*.cid
*.SMAFocus
*.simlog
*.rec
*.lck
*.023
*.avi
*.zip
*.pdf
*.aif
*.pyc
*.docx
*.docx
*.pptx
*.docx
*.docx
*.json
*.vsidx
*.odb_f
*.pyc
*.mp4
*.mov
*.docx
